<%= form_tag(articles_path, :method => "get", class: "form-inline", id: "search-form") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for..." %>
      	<span class="input-group-btn">
        	<button class="btn btn-secondary" type="submit">Go!</button>
      	</span>
	</div>
<% end %>