<%= alert_message notice%>
<div class="row">
	<div class="col-sm-8">
		<h2>My first Rails application for CoderSchool!</h2>
		<%= render @articles %>

		<br>

		<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
	</div>
	<div class="col-sm-4">
		<%= render 'search' %>
	</>
</div>
  


